@font-face {
    font-family: 'Mix-Serif';
    src: url('mix_serif.woff2') format('woff2'),
         url('mix_serif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('SourceSerifPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('SourceSerifPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
  height: 100%;
  width: 100%;

  --bg: white;
  --theme: #e83e8d;
  --title-text: black;
  --heading-text: #e83e8d;
  --body-text: black;
  --highlight-text: #e83e8d;
  --footer-text: grey;
}

body {
  margin: 0;
  padding: 0;
  padding-left: 22%;
  padding-right: 22%;
  min-height: 100%;

  display: flex;
  flex-direction: column;

  font-family: 'Mix-Serif';
  background: url(paper.svg);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
}

mark {
  background: none;
  color: var(--highlight-text);
}

h1 {
  margin: 0;
  margin-bottom: 0;
  padding: 0;

  font-size: 40px;
  color: var(--heading-text);
}


h2 {
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0;

  font-size: 24px;
  font-family: 'Source Serif Pro';
  font-weight: 400;
  color: var(--body-text);
}

h3,h4,h5 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 0;

  font-family: 'Source Serif Pro';
  font-weight: 400;
  color: var(--body-text);
}

p {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  /*   display: block;
    overflow: hidden; */

  font-family: 'Source Serif Pro', serif;
  font-size: 18px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: var(--highlight-text);
  font-weight: 400;
}

span.stretch{
  display:inline-block;
  -webkit-transform:scale(0.7,1.5); /* Safari and Chrome */
  -moz-transform:scale(0.7,1.5); /* Firefox */
  -ms-transform:scale(0.7,1.5); /* IE 9 */
  -o-transform:scale(0.7,1.5); /* Opera */
  transform:scale(0.7,1.5); /* W3C */
}

header {
  position: relative;

  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 35%;
  min-height: 250px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

main {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 900px;

  flex-grow: 1;
}

#content{
  flex: 2;
}

.ImageWrapper {
  float: right;
  width: 33%;
  max-width: 300px;
}

img{
  max-width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 10px;
}

svg {
  margin:0;
  padding:0;
  position:absolute;
  top:0;
  left:0;
  border-style: none;
  border-radius: 0px;
  box-sizing: content-box;
  z-index: -1
}

canvas {
  width:100%;
  height:100%;
  border-style: none;
  border-radius: 0px;
}

#mouse-listener {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

nav {
  margin:0;
  padding:0;
  width:100%;
  z-index: 2;
  color: var(--title-text);
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
  align-self: flex-start;
}

.button {
    display: inline-block;
    background: None;
    margin:0;
    padding: 0;
    bottom:0;
    height:100%;
}


nav a{
  padding: 10px;
  padding-left: 0;
  padding-right: 20px;
  margin:0;
  text-decoration: none;
  color: var(--title-text);
  font-weight: normal;
  font-size: x-large;
  text-align: bottom;
}

nav a:hover {
    color: var(--highlight-text);
}


footer {
  margin: 0;
  padding: 0;
  width: 100%;
}

footer p {
  margin: 0;
  color: var(--footer-text);
}
