@font-face {
    font-family: 'Mix-Serif';
    src: url('mix_serif.woff2') format('woff2'),
         url('mix_serif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('SourceSerifPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('SourceSerifPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
  height: 100%;
  width: 100%;

  --bg: white;
  --theme: #e83e8d;
  --title-text: black;
  --heading-text: black;
  --body-text: black;
  /*old: e83e8d*/
  --highlight-text: #e83e8d;
  --footer-text: #686868;

  --content-width: 53em;
}

body {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Mix-Serif';
  background: url("img/canvas_texture.jpg");
  background-size: 48em;
  background-repeat: repeat;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
}

mark {
  background: none;
  color: var(--highlight-text);
}

h1 {
  margin: 0;
  margin-bottom: 0;
  padding: 0;

  font-size: 2.5em;
  color: var(--heading-text);
}

h2 {
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0;

  font-size: 1.5em;
  font-family: 'Source Serif Pro';
  font-weight: 400;
  color: var(--heading-text);
}

h3,h4,h5 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 0;

  font-family: 'Source Serif Pro';
  font-weight: 400;
  color: var(--body-text);
}

p {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-family: 'Source Serif Pro', serif;
  font-size: 1.125em;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: var(--highlight-text);
  font-weight: 400;
}

span.stretch{
  display:inline-block;
  -webkit-transform:scale(0.6,1.75); /* Safari and Chrome */
  -moz-transform:scale(0.6,1.75); /* Firefox */
  -ms-transform:scale(0.6,1.75); /* IE 9 */
  -o-transform:scale(0.6,1.75); /* Opera */
  transform:scale(0.6,1.75); /* W3C */
}

header {
  position: relative;

  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 35%;
  width: 100%;
  min-height: 15.5em;
  max-width: var(--content-width);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

#name {
  z-index: 2;
}

main {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width:100%;
  max-width: var(--content-width);
  display:flex;
  flex-direction: row;
  align-items: stretch;
}

#content{
  margin: 0;
  padding: 0;
  flex: 2;
}

.ImageWrapper {
  padding:0;
  margin:0;
  padding-left: 20px;

  width:300px;
}

#profile{
  padding: 0;
  margin: 0;
  width:100%;
  box-sizing: content-box;

  mix-blend-mode: multiply;
}

svg {
  margin:0;
  padding:0;
  position:absolute;
  top:0;
  left:0;
  border-style: none;
  border-radius: 0px;
  box-sizing: content-box;
  z-index: -1
}

canvas {
  width:100%;
  height:100%;
  border-style: none;
  border-radius: 0px;
}

#mouse-listener {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

nav {
  margin:0;
  padding:0;
  width:100%;
  z-index: 2;
  color: var(--title-text);
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
  align-self: flex-start;
}

.button {
    display: inline-block;
    background: None;
    margin:0;
    padding: 0;
    bottom:0;
    height:100%;
}


nav a{
  padding: 10px;
  padding-left: 0;
  padding-right: 20px;
  margin:0;
  text-decoration: none;
  color: var(--title-text);
  font-weight: normal;
  font-size: 1.5em;
  text-align: bottom;
}

nav a:hover {
    color: var(--highlight-text);
}


footer {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: var(--content-width);

  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

footer p {
  margin: 0;
  color: var(--footer-text);
}

@media all and (max-width: 750px){
  h1 {
    font-size: 1.625em;
  }

  nav a{
    font-size: 1.25em;
    padding-right: 10px;
  }

  main {
    flex-direction: column;
  }

  .ImageWrapper{
    padding-left: 0;
    width:100%;
    max-width: 400px;
    align-self: center;
  }
}
