#content  h2{
  padding-left: 0%;
  margin: 0px;
  margin-top: 30px;
  margin-bottom: 10px;
}

#content  h3{
  padding-left: 5%;
  margin: 0px;
  margin-bottom: 5px;
}

#content p{
  padding-left: 5%;
  line-height: normal;
  margin:0;
  margin-bottom: 5px;
}
