#content h1 {
  padding-left: 0%;
  margin-bottom: 0px;
  color: #bf4aa8;
}

#content h2{
  padding-left: 0%;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#content h3{
  padding-top: 0px;
  padding-left: 0%;
  margin-top: 10px;
  margin-bottom: 0;
}

#content p{
  padding-left: 0%;
  line-height: normal;
  margin:0;
  margin-bottom: 5px;
}
